@import "./variables";

::-webkit-scrollbar {
  display: none;
}

* {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  text-decoration: none;
}

.app {
  max-height: 100vh;
  min-height: 100vh;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-heading;
  }
  p {
    font-family: $font-body;
  }
  label {
    font-family: $font-mono;
  }
}

.app-darkmode {
  background-color: $colour1-dark;
  * {
    border-color: $colour7-dark;
    color: $colour3-dark;
  }
  .header {
    background-color: $colour1-dark;
  }
}

.app-lightmode {
  background-color: $colour1-light;
  * {
    border-color: $colour7-light;
    color: $colour3-light;
  }
  .header {
    background-color: $colour1-light;
  }
}
