@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

.app {
  max-height: 100vh;
  min-height: 100vh;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-heading;
  }
  p {
    font-family: $font-body;
  }
}

.app-darkmode {
  background-color: $colour1-dark;
  * {
    color: $colour3-dark;
  }
}

.app-darkmode {
  background-color: $colour1-light;
  * {
    color: $colour3-light;
  }
}
